<div class="container row">
  <div class="comments">
    <div class="card post comment-box">
      <div class="card-body post-body">
        <div class="card-text comment-body">
          {{content}}
        </div>
        <div class="comment-author">
          -{{User.username}},
          {{createdAt}}
        </div>
      </div>
    </div>
  </div>
</div>