<div class="container row">
  <div class="comments">
    <div class="card post comment-box">
      <div class="card-body post-body">
        <div class="card-text comment-body" id="comment-content">
          {{content}}
        </div>
        <br />
        <div class="comment-author" id="commenter">
          {{User.username}},
          {{format_date createdAt}}
        </div>
      </div>
    </div>
  </div>
</div>