<section class="single-post-container">
{{> post-body postData}} 

{{#if session.user_id}}
<div class="comment-container">
    <h3 class="card-header"></h3>
    <form class="card-body comment-form" id="comment-form">
    <div class="form-row">
        <label class="form-label" id="comment-label">Add a comment:</label>
        <input id="comment-input" name="comment-body" class="form-input  form-control" />
    </div>
        <button type="submit" class="btn" id="submit-btn-comment">Submit</button>
    </form>
</div>
{{/if}}
{{#each postData.Comments as |comment| }}

{{!-- WHAT WAS WORKING * --}}
<div class="render-comment" data-comment-id="{{comment.id}}" data-can-delete="{{comment.canDelete}}">
    <p class="delete-comment">
{{> comment comment}}</p> 

{{/each}}
</div>

{{#if session.user_id}}
<script src="/js/addComment.js"></script>
<script src="/js/deleteComment.js"></script>
{{/if}}